{% extends 'menu/base.html' %}

{% comment %} {% block title %}
{{ title }}
{% endblock %} {% endcomment %}


{% block content %}
<h1>zero day</h1>
{% if category %}
    {% for i in category %}
    <li>
        <a href="{{ i.get_absolute_url }}">{{i.name}}</a>
        {% if i.picture %}
        <p><img style="max-height: 100px; max-width: 100px" src="{{i.picture.url}}"></p>
    </li>
        {% endif %}
    {% endfor %}
{% endif %}

{% comment %} <p>qrID -> {{ num }}</p>
<h1>main page</h1>
{% if mainCategories %}
    {% for el in mainCategories %}
        <div class="alert alert-warning mt-2">
            <h3>{{ el.name }}</h3>
        </div>
    {% endfor %}
{% else %}
<p>your category doesnt exist</p>
{% endif %} {% endcomment %}
{% endblock %}